streamlit
google-generativeai
SpeechRecognition
gTTS
langdetect
googletrans==4.0.0rc1
torch==2.0.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
ftfy
regex
tqdm
opencv-python-headless
Pillow
wikipedia
pandas

